.features_2_section{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30rem;

    
}

.content_box{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;

    width: 85%;
    height: 60%;

    
}

.content_box_item{
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    height: 50%;
    border:black solid 1px;
    background-color: var(--text-color-yellow-1);

    font-size: 1.3rem;
    box-shadow: 1px 10px 10px 1px;
}
.f_2_container{
    
}



/* responsivness */

/* desktop devices */
@media (min-width: 1281px) {

}

/* tablet devices */
@media (min-width: 769px) {

}

/* mobile devices */
@media (max-width: 768px) {

}